#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
}

.contactme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222222;
    color: #f2f2f2;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}

body {
    background-color: #111111;
    font-family: "Inter", sans-serif;
}

.content1 {
    background-color:#222;
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contactme h2 {
    font-size: 2em;
    position: relative;
    padding: 20px;
}

.contactme .content input, .mesg {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Inter";
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    align-items: center;
    width: 80%;
    background: #111111;
    color: #fff;
}
.mesg{
    resize: none;
    padding-top: 20px;
}

#email{    
    padding-top:20px;
    padding-bottom:20px;
}
.content {
    padding: 2rem;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: fit-content;
    width: 60%;
}

#contactsubmit {
    margin-top: 1.5em;
    border: none;
    border-radius: 10px;
    border: 2px solid #8A39E1;
    background-color: #8A39E1;
    color: white;
    font-size: 1rem;
    padding: 15px 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

#contactsubmit:hover {
    background: none;
    color: #8A39E1;
}
 @media screen and (max-width: 600px) {
        #contactsubmit {
            width: 100%;
            margin-top: 0;
        }
        .contactme {
            border-radius: 25px;
        }
        .content1 {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .contactme h2 {
            font-size: 2.2em;
        }
        #contact-section {
            margin-top: 25%;
        }
    }
