body {
  background-color: #152a79;
  background-size: cover;
  background-repeat: no-repeat;
}
.contactsection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}

.contactme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #efffff;
  font-family: "Source Sans Pro", sans-serif;
  color: #132945;
  box-shadow: 0px 1px 20px;
  border-radius: 8%;
  width: 50%;
  text-align: center;
}



.content1 {
  background-color: #acf8dc;
  width: 100%;
  text-align: center;
  /* border-radius: 8%; */
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
}

.contactme h2 {
  font-size: 50px;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}

.contactme input[type="text"], .contactme input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid white;
  border-radius: 23px;
  box-shadow: 0px 0px 2px;
  width: 82%;
}
#contactform textarea
{
  height: 120px;
  width: 82%;
  font: 16px/16px "Source Sans Pro", sans-serif;
  border-radius: 23px;
  padding: 10px;
}
.content {
  padding: 2rem;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: fit-content;
  width: 60%;
}
fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}
#contactsubmit {
  margin-top: 1em;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 2px white;
  background-color: black;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  text-align: center;
  width: 50%;
}
#contactsubmit:hover
  {
      transition-duration: 0.4s;
      background-color: darkcyan;
  }
