#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
}

.contactme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9d9fa0a9;
    font-family: "Source Sans Pro", sans-serif;
    color: #252525;
    border-radius: 62px;
    width: 50%;
    text-align: center;
}

body {
    background-color: #252525;
    background-size: cover;
    background-repeat: no-repeat;
}

.content1 {
    background-color: yellow;
    width: 100%;
    text-align: center;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
}

.contactme h2 {
    font-size: 2.9em;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
}

.contactme input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 23px;
    width: 82%;
    background: black;
    color: yellow;
    border: 2px solid yellow;
}

.content {
    padding: 2rem;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: fit-content;
    width: 60%;
}

#contactsubmit {
    margin-top: 1em;
    border: none;
    border-radius: 20px;
    background-color: yellow;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    transition: 1s;
}

#contactsubmit:hover {
    background-color: black;
    color: yellow;
}
 @media screen and (max-width: 600px) {
        #contactsubmit {
            width: 100%;
            margin-top: 0;
        }
        .contactme {
            border-radius: 25px;
        }
        .content1 {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        .contactme h2 {
            font-size: 2.2em;
        }
        #contact-section {
            margin-top: 25%;
        }
    }
