#contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 100px;
}
.contactme {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222222;
  color: #fff;
  border-radius: 10px;
  width: 70%;
  text-align: center;
}
body {
  background-color: #111111;
  font-family: "Inter", sans-serif;
}
.content1 {
  background-color: #222;
  width: 100%;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.contactme h2 {
  font-size: 2em;
  position: relative;
  padding: 20px;
}
.contactme .content input,
.mesg {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter";
  padding: 30px;
  padding-left: 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  align-items: center;
  width: 80%;
  background: #111111;
  color: #fff;
}
.mesg {
  resize: none;
  padding-top: 20px;
}
#email {
  padding-top: 20px;
  padding-bottom: 20px;
}
.content {
  padding: 2rem;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: fit-content;
  width: 80%;
}
#contactsubmit {
  margin-top: 1.5em;
  border: none;
  border-radius: 10px;
  border: 2px solid #8a39e1;
  background-color: #8a39e1;
  color: white;
  font-size: 1rem;
  padding: 15px 30px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
#contactsubmit:hover {
  background: none;
  color: #8a39e1;
}

/* light mode styling  */
.light-mode {
  background-color: #f5f8ff;
}
.light-mode .contactme {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: #fff;
}
.light-mode .contactme .content input,
.light-mode .mesg {
  background: none;
  color: #222;
  border: 2px solid #ebf1ff;
}
.light-mode .content1 {
  background: #8a39e1;
}

/* Responsivity */
@media (max-width: 947px) {
  .contactme {
    width: 80%;
  }
  #contact-section {
    margin-top: 15%;
  }
  .contactme h2 {
    font-size: 2em;
    padding-top: 25px;
    padding: 15px;
  }
}
@media (max-width: 690px) {
  #contact-section {
    margin-top: 13%;
  }
  .contactme {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .contactme {
    width: 90%;
  }
  #contact-section {
    margin-top: 17%;
  }
  .contactme h2 {
    font-size: 2em;
    padding-top: 25px;
    padding: 15px;
  }
  .contactme .content input,
  .mesg {
    padding: 20px;
    padding-left: 27px;
    margin-bottom: 8px;
    border-radius: 10px;
    width: 80%;
  }
  #email {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #contactsubmit {
    margin-top: 1.2em;
    font-size: 0.8rem;
    padding: 12px 27px;
    font-weight: 600;
    border-radius: 6px;
  }
  .contactme h2 {
    font-size: 1.7em;
    padding: 20px;
  }
}
@media (max-width: 360px) {
  .contactme {
    width: 90%;
    margin-bottom: 10px;
  }
  .contactme h2 {
    font-size: 1.5em;
    position: relative;
    padding: 20px;
  }
  #contact-section {
    margin-top: 20%;
  }
  .contactme .content input,
  .mesg {
    padding: 17px;
    padding-left: 27px;
    margin-bottom: 6px;
    border-radius: 6px;
    width: 80%;
  }
  #email {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  #contactsubmit {
    margin-top: 1.2em;
    font-size: 0.8rem;
    padding: 12px 27px;
    font-weight: 600;
    border-radius: 6px;
  }
}
@media (max-width: 337px) {
  .contactme {
    width: 90%;
    margin-bottom: 10px;
  }
  .contactme h2 {
    font-size: 1.2em;
    position: relative;
    padding-bottom: 0px;
    padding-top: 20px;
  }
  #contact-section {
    margin-top: 20%;
  }
  .contactme .content input,
  .mesg {
    padding: 15px;
    padding-left: 25px;
    margin-bottom: 4px;
    border-radius: 6px;
    width: 80%;
  }
  #email {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #contactsubmit {
    margin-top: 1.2em;
    font-size: 0.8rem;
    padding: 12px 27px;
    font-weight: 600;
    border-radius: 6px;
  }
}