@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111111;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateimg {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* about section*/
#about-section {
  text-align: center;
  font-size: 3rem;
  color: #8a39e1;
  padding: 2rem 7rem;
}

.about-content {
 
  padding: 10px;
  margin: 50px;
  font-size: 30px;
  border-radius: 5px;
  font-family: sans-serif;
}
.about-content p {
  margin-bottom: 30px;
}

.light-mode{
  background-color: #F5F8FF;
  color: black;
}
.light-mode .tools-items{
  background-color: #F5F8FF;
}
.light-mode .row{
  background-color: #fff;
}

.mail a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background: #8A39E1;
  font-size: 23px;
  padding: 10px 32px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #8a39e1;
  transition: all 0.3s ease;
}
.mail a:hover {
  color: #8a39e1;
  background: none;
}
/* .mail a {
  text-decoration: none;
  color: white;
}
.mail:hover {
  background-color: #000;
  border-color: #8A39E1;
  color: #8A39E1;
} */
#loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-content {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #8a39e1;
  animation: loadContent 500ms linear infinite;
}

@keyframes loadContent {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #8a39e1;
  color: aliceblue;
  z-index: 999;
  padding: 3px;
}
#navlogo {
  width: 59%;
  height: 58px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

#logo {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: 1rem 0.5rem;
}
.nav-links {
  transition: all 0.5s ease-in-out;
}
.nav-links ul {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
}
.nav-links li {
  list-style: none;
  padding: 0.5rem 0.8rem;
  margin: 2px 5px;
}
.nav-links a {
  color: #dcdcdc;
  text-decoration: none;
  padding: inherit;
  font-weight: 600;
  font-size: 1rem;
  border: 4px;
  border-radius: 50px;
  transition: all 0.3s ease;
}
li .active {
  color: #8a39e1;
  background-color: #fff;
  border: 4px;
  border-radius: 50px;
}
.nav-links a:hover {
  background-color: #fff;
  color: #8a39e1;
  border: 4px;
  border-radius: 50px;
}
.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-btn .bar {
  height: 3px;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}
header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 0.8s 0.2s forwards ease-in-out;
}
header h1 {
  color: rgb(230, 243, 248);
  font-size: 6.5rem;
}

main button {
  border: none;
}
.home {
  display: flex;
  /* background-color: #90E0EF ; */
  height: 100vh;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 30px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #8a39e1;
  font-weight: 500;
}
.home .home-content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background: #8A39E1;
  font-size: 23px;
  padding: 10px 32px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #8a39e1;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: #8a39e1;
  background: none;
}
.img-home img {
  margin-top: 20vh;
  margin-left: 18vw;
  height: 400px;
  width: 400px;
}
.img-home,
.max-width {
  display: inline;
}
.toolsicon {
  animation: rotateimg 1s 1s 2 forwards ease-in;
}
main.tools-heading {
  border: 2px;
  border-radius: 3px;
  border-color: whitesmoke;
  padding: 2px;
}

main h2 {
  text-align: center;
  font-size: 4rem;
  color: #8a39e1;
  padding: 2rem 7rem;
}

main > .tools-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #111;
}

main .row {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 10px;
  height: 30vh;
  width: 35vw;
  background-color: #222;
  transition: all 0.5s ease-in-out;
  /* top: 550px; */
  /* position: relative; */
}
main .row a {
  text-decoration: none;
  color: #8a39e1;
  text-align: center;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 700;
  top: 50vh;
  transition: all 0.5s ease-in-out;
}

main .row:hover {
  background-color: #8a39e1;
}

main .row:hover a {
  color: #fff;
  font-size: 3rem;
}

.logo {
  display: flex;
  width: 9vw;
  border-radius: 100px;
  margin-right: 3vw;
}

main button {
  padding: 10px;
  text-align: left;
  background-color: transparent;
}

.row:hover {
  cursor: pointer;
}

.tools-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a39e1;
}

.tools-img {
  width: 20%;
}

.resize-img {
  width: 50px;
  height: 50px;
}

.submit {
  border: none;
  outline: none;
  cursor: pointer;
}
#float img {
  height: 40px;
  width: 40px;
}
#section_chatbot {
  margin: 0;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 55px;
  right: 55px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.4s;
  z-index: 1;
}
.img-float {
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
  border-radius: 50px;
}
.float:hover {
  transform: scale(1.2);
}
.popup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 115px;
  height: 400px;
  width: 400px;
  background-color: #fff;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.show {
  display: flex;
  z-index: 1;
}
/* Switch toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FBB31C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FBB31C;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.textarea {
  margin: 0;
  padding-bottom: 30px;
  height: 80%;
  overflow-y: auto;
}
.roboside {
  display: flex;
  margin-top: 10px;
}
.header-chat {
  border-radius: 10px;
  padding: 10px;
  background: #8a39e1;
  height: 30px;
  display: flex;
  margin-bottom: 20px;
}
.name {
  color: #fff;
  font-weight: 500;
  margin-top: 6px;
  padding-left: 10px;
}
.crossbtn {
  border: 2px solid #fff;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  margin-left: 250px;
  background-color: #fff;
  color: #8a39e1;
  justify-content: right;
  transition: all 0.3s ease;
  background-color: #fff;
}
.crossbtn:hover {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  cursor: pointer;
}
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.avatar-chat {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.roboside .robomsg {
  font-size: 0.7rem;
  background-color: #dcdcdc;
  color: #222;
  margin: auto;
  margin-left: 8px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}

.input-area {
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
input[type="text"] {
  border: 1px solid #222;
  width: 80%;
  font-size: 0.6rem;
  border-radius: 6px;
  padding: 10px;
  height: 10px;
}

.submit {
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  background-color: #8a39e1;
  border: 2px solid #8a39e1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.userSideMsg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}
.userActualMsg {
  font-size: 0.6rem;
  color: #222;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-right: 8px;
  margin-left: 10px;
  padding: 10px;
  background-color: #dcdcdc;
  border-radius: 10px;
  word-break: break-all;
}
footer {
  background-color: #8a39e1;
}
footer h3 {
  font-size: 20px;
  padding: 10px;
  margin: 2px;
  text-align: center;
}
.submit:hover {
  border: 2px solid #8a39e1;
  background: none;
  color: #8a39e1;
}
#roboImg {
  margin-top: 40px;
  margin-left: 20px;
}

@media only screen and (max-width: 960px) {
  main .row {
    width: 100vw;
  }
  main > .tools-items {
    padding: 5vh;
  }
}
@media screen and (max-width: 435px) {
  header h1 {
    font-size: 2rem;
  }

  main .row a {
    font-size: 1.1rem;
  }

  main h2 {
    font-size: 2rem;
  }

  .toggle-btn {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
  }
  nav li {
    text-align: center;
  }
  nav .display {
    display: flex;
  }
}

/*trial*/
@media screen and (min-width: 425px) and (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
  }

  #roboImg {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 20px;
    height: 380px;
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1105px) {
  .heading {
    font-size: 4.2rem;
  }

  #roboImg {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 20px;
    height: 500px;
    width: 550px;
  }
}

/*works*/

@media screen and (min-width: 360px) and (max-width: 425px) {
  #roboImg {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 20px;
    height: 370px;
    width: 290px;
  }
}

@media screen and (max-width: 320px) {
  #roboImg {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 20px;
    height: 350px;
    width: 220px;
  }
}

@media screen and (max-width: 280px) {
  #roboImg {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 70px;
    height: 400px;
    width: 200px;
  }
}

@media screen and (max-width: 426px) {
  .about-content {
    margin: auto 1rem;
    font-size: 1.1rem;
    letter-spacing: 3px;
  }
}

/* footer  */

footer {
  background-color: #8a39e1;
  text-align: center;
  padding: 1rem;
  font-size: 16px;
  font-weight: normal;
}

footer p {
  color: #eee;
}

footer div i {
  font-weight: 400;
  font-size: 1.8rem;
  color: #dcdcdc;
  padding: 5px 10px;
  transition: all 0.5s;
}

footer div i:hover {
  font-weight: 400;
  color: #FBB31C;
}

footer .author {
  background-color: #8a39e1;
  font-size: 0.7rem;
  margin: -1rem;
  padding: 1rem;
  color: aliceblue;
}

footer p a {
  font-weight: 700;
  color: #FBB31C;
  text-decoration: none;
}

.red-heart {
  color: red;
}



/* testimonils stylng  */
.testi{
  margin-top: 100px;
}
.hero{
  background: #222;
  height: 120vh;
  width: 100%;
  position: relative;
}
.hero h1{
  text-align: center;
  padding-top: 80px;
  font-size: 4rem;
  color: #8a39e1;
}
.slide-row{
  display: flex;
  width: 3200px;
  overflow-x:visible;
  transition: all 0.5s;
}
.slide-col{
  width: 800px;
  height: 400px;
  position: relative;
}
.user-img{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.user-img img{
  height:100%;
border-radius: 10px;

}
.user-text{
  background-color: #8a39e1;
  width: 520px;
  height: 270px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #fff;
  padding: 45px;
  box-sizing:border-box;
  z-index: 2;
}
.user-text p{
  font-size: 18px;
  line-height: 24px;
}
.user-text h3{
  margin: 35px 0px 5px;
  color: #FBB31C;
}
.container{
  margin-top: 40px;
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
}
.indicator{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}
.btn2{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 10px;
  background-color: #8a39e1;
  cursor: pointer;
  transition: all 0.5s;
}
.active2{
  width: 45px;
}
.testimonial{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* lightmode testimonials  */
.light-mode .hero{
  background: #fff;

}


/* Testimonials resposivity  */
@media(max-width:1300px){
  .hero{
    height: 80vh;
  }
  .hero h1{
      font-size: 3rem;
    }
    .slide-row{
      width: 2000px;
    }
    .slide-col{
      font-size: 20px;
      width: 1000px;
      height: 500px;
    }
    .user-img{
      height: 100%;
    }
    .user-img img{
      height:100%;  
    }
    .user-text{
      width: 320px;
      height: 220px;
      padding: 20px;
      z-index: 2;
    }
    .user-text p{
      font-size: 15px;
      line-height: 22px;
    }
    .user-text h3{
      margin: 25px 0px 5px;
    }
    .container{
      margin-top: 30px;
      width: 480px;
      height: 400px;
    }
}

@media(max-width:900px){
  .hero{
    height: 65vh;
  }
  .hero h1{
      font-size: 2.8rem;
    }
    .slide-row{
      width: 1920px;
    }
    .slide-col{
      font-size: 14px;
      width: 960px;
      height: 320px;
    }
    .user-img{
      height: 95%;
    }
    .user-img img{
      height:95%;  
    }
    .user-text{
      width: 320px;
      height: 220px;
      padding: 20px;
      z-index: 2;
    }
    .user-text p{
      font-size: 15px;
      line-height: 22px;
    }
    .user-text h3{
      margin: 25px 0px 5px;
    }
    .container{
      margin-top: 30px;
      width: 480px;
      height: 400px;
    }
}

@media(max-width:690px){
  .hero{
    height: 60vh;
  }
  .hero h1{
      font-size: 2.2rem;
    }
    .slide-row{
      width: 1840px;
    }
    .slide-col{
      font-size: 14px;
      width: 920px;
      height: 300px;
    }
    .user-img{
      height: 95%;
    }
    .user-img img{
      height:95%;  
    }
    .user-text{
      width: 300px;
      height: 170px;
      padding: 12px;
      z-index: 2;
    }
    .user-text p{
      font-size: 12px;
      line-height: 18px;
    }
    .user-text h3{
      margin: 15px 0px 2px;
    }
    .container{
      margin-top: 30px;
      width: 460px;
      height: 300px;
    }
  }
@media(max-width:500px){
  .hero{
    height: 50vh;
  }
  .hero h1{
    font-size: 2rem;
  }
  .slide-row{
    width: 1200px;
  }
  .slide-col{
    font-size: 8px;
    width: 600px;
    height: 300px;
  }
  .user-img{
    height: 85%;
  }
  .user-img img{
    height:85%;  
  }
  .user-text{
    width: 170px;
    height: 190px;
    padding: 12px;
    z-index: 2;
  }
  .user-text p{
    font-size: 8.5px;
    line-height: 18px;
  }
  .user-text h3{
    margin: 15px 0px 2px;
  }
  .container{
    margin-top: 30px;
    width: 300px;
    height: 250px;
  }
}

