@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}
html{
  scroll-behavior:smooth;
}
/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateimg {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* about section*/
#about-section {
  text-align: center;
  font-size: 3rem;
  color: #8a39e1;
  padding: 2rem 7rem;
}

.about-content {
  padding: 10px;
  margin: 50px;
  font-size: 30px;
  border-radius: 5px;
  font-family: sans-serif;
}

#loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-content {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #8A39E1;
  animation: loadContent 500ms linear infinite;
}

@keyframes loadContent {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #8a39e1;
  color: aliceblue;
  z-index: 5;
  padding: 3px;
}
#navlogo {
  width: 59%;
  height: 58px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

#logo {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: 1rem 0.5rem;
}
.nav-links {
  transition: all 0.5s ease-in-out;
}
.nav-links ul {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
}
.nav-links li {
  list-style: none;
  padding: 0.5rem 0.8rem;
  margin: 2px 5px;
}
.nav-links a {
  color: #dcdcdc;
  text-decoration: none;
  padding: inherit;
  font-weight: 600;
  font-size: 1rem;  
  border: 4px;
  border-radius: 50px;
  transition: all 1s ease;
}
li .active {
  color: #8a39e1;
  background-color: #fff;
  border: 4px;
  border-radius: 50px;
}
.nav-links a:hover {
  background-color: #fff;
  color: #8a39e1;
  border: 4px;
  border-radius: 50px;
}
.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-btn .bar {
  height: 3px;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}
header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 0.8s 0.2s forwards ease-in-out;
}
header h1 {
  color: rgb(230, 243, 248);
  font-size: 6.5rem;
}

main button {
  border: none;
}

.home {
  display: flex;
  background: url("./images/bg.png") no-repeat;
  background-size: cover;
  /* background-color: #90E0EF ; */
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}

.toolsicon {
  animation: rotateimg 1s 1s 2 forwards ease-in;
}
main.tools-heading {
  border: 2px;
  border-radius: 3px;
  border-color: whitesmoke;
  padding: 2px;
}

main h2 {
  text-align: center;
  font-size: 4rem;
  color: #8a39e1;
  padding: 2rem 7rem;
}

main > .tools-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15vh;
  margin: 50px auto 0px auto;
  background-color: #111;
}

main .row {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 #4c4c4c, 0 6px 20px 0 #4c4c4c;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
  height: 30vh;
  width: 35vw;
  background-color: white;
  transition: all 0.5s ease-in-out;
  /* top: 550px; */
  /* position: relative; */
}
main .row a {
  text-decoration: none;
  color: #8a39e1;
  text-align: center;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 700;
  top: 50vh;
  transition: all 0.5s ease-in-out;
}

main .row:hover {
  height: 38vh;
  width: 37vw;
  background-color: #8a39e1;
  /* border: 2px solid white; */
}

main .row:hover a {
  font-size: 3rem;
  color: #fff;
}

.logo {
  display: flex;
  width: 9vw;
  border-radius: 100px;
  margin-right: 3vw;
}

main button {
  padding: 10px;
  text-align: left;
  background-color: transparent;
}

.row:hover {
  cursor: pointer;
}

.tools-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8a39e1;
}

.tools-img {
  width: 20%;
}

.resize-img {
  width: 50px;
  height: 50px;
}

.submit {
  border: none;
  outline: none;
  cursor: pointer;
}
#section_chatbot {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding: 0 1rem;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 55px;
  right: 55px;
  text-align: center;
  /* box-shadow: 2px 2px 3px #020225a9; */
  cursor: pointer;
  transition: transform 0.4s;
  z-index: 1;
}
.img-float {
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
  border-radius: 50px;
}
.float:hover {
  transform: scale(1.3);
}
.popup {
  display: none;
  position: fixed;
  bottom: 75px;
  right: 115px;
  height: 400px;
  width: 400px;
  background-color: whitesmoke;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem;
  box-shadow: 5px 5px 5px #020225a9;
  border-radius: 15px;
}
.show {
  display: flex;
  z-index: 1;
}
.textarea {
  height: 80%;
  overflow-y: auto;
}
.roboside {
  display: flex;
  margin-top: 10px;
}
.crossbtn {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  background-color: #152a79;
  color: white;
}
.crossbtn:hover {
  background-color: #2d418b;
  color: solid black;
  cursor: pointer;
}
.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.roboside .robomsg {
  background-color: #020225a9;
  color: white;
  margin: auto;
  margin-left: 8px;

  padding: 10px;
  border-radius: 25px;
}

.input-area {
  position: relative;
  display: flex;
  justify-content: center;
}
input[type="text"] {
  width: 80%;
  border: 1px solid rgb(192, 191, 191);
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
}

.submit {
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  background-color: #152a79;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.userSideMsg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
.userActualMsg {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-right: 8px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  word-break: break-all;
}
footer {
  background-color: #8a39e1;
}
footer h3 {
  font-size: 20px;
  color: white;
  padding: 10px;
  margin: 2px;
  text-align: center;
}
.submit:hover {
  transform: scale(1.2);
}
#roboImg {
  width: 90px;
  height: 90px;
  /* border-radius: 50px; */
  /* border: 2px solid #020225a9; */
}

@media only screen and (max-width: 960px) {
  main .row {
    width: 100vw;
  }
  main > .tools-items {
    padding: 5vh;
  }
}
@media screen and (max-width: 435px) {
  header h1 {
    font-size: 2rem;
  }

  main .row a {
    font-size: 1.1rem;
  }

  main h2 {
    font-size: 2rem;
  }

  .toggle-btn {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
  }
  nav li {
    text-align: center;
  }
  nav .display {
    display: flex;
  }
}

/*trial*/
@media screen and (min-width: 425px) and (max-width: 768px) {
  .heading {
    font-size: 2.5rem;
  }

  #roboImg {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 20px;
    height: 380px;
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1105px) {
  .heading {
    font-size: 4.2rem;
  }

  #roboImg {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 20px;
    height: 500px;
    width: 550px;
  }
}

/*works*/

@media screen and (min-width: 360px) and (max-width: 425px) {
  #roboImg {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 20px;
    height: 370px;
    width: 290px;
  }
}

@media screen and (max-width: 320px) {
  #roboImg {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 20px;
    height: 350px;
    width: 220px;
  }
}

@media screen and (max-width: 280px) {
  #roboImg {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }

  .popup {
    margin-right: -80px;
    margin-bottom: 70px;
    height: 400px;
    width: 200px;
  }
}

@media screen and (max-width: 426px) {
  .about-content {
    margin: auto 1rem;
    font-size: 1.1rem;
    letter-spacing: 3px;
  }
}

/* footer  */

footer {
  background-color: #8a39e1;
  text-align: center;
  padding: 1rem;
  font-size: 16px;
  font-weight: normal;
}

footer p {
  color: #eee;
}

footer div i {
  font-weight: 400;
  font-size: 1.8rem;
  color: #dcdcdc;
  padding: 5px 10px;
  transition: all 0.5s;
}

footer div i:hover {
  font-weight: 400;
  font-size: 2rem;
  color: #03045e;
}

footer .author {
  background-color: #8a39e1;
  font-size: 0.7rem;
  margin: -1rem;
  padding: 1rem;
  color: aliceblue;
}

footer p a {
  color: #03045e;
  text-decoration: none;
}

.red-heart {
  color: red;
}
