/* ------------------------Global---------------------- */

* {
  margin: 0;
  padding: 0;
}


input {
  height: 35px;
  border: none;
  margin: 4px;
  border-radius: 2px;
}

button {
  width: 40%;
  height: 30px;
  color: white;
  border: none;
  border-radius: 2px;
}

/* -----------x----------Global--------------x-------- */

body {
  height: 80vh;
  display: flexbox;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-attachment: initial;
  /* transition: initial; */
  font-family: "Bakbak One", sans-serif;
}

main {
  padding: 100px;
  background-color: rgba(173, 216, 230, 0.5);
  text-align: center;
}

main input[type="text"] {
  width: 200px;
  padding-left: 10px;
  background-color: white;
  text-align: center;
}

main input[type="submit"] {
  padding: 0 20px;
  color: white;
  background-color: purple;
  text-align: center;
}

main .submission {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

main .submission #addMore {
  background-color: orange;
  text-align: center;
}

main .submission #uploadAll {
  background-color: green;
  text-align: center;
}
