    .container {
      padding: 0px 10px;
      padding-top: 100px;

    }

    #dwn-btn {
      padding: 10px 20px;
      background-color: tomato;
      color: white;
      border-radius: 10px;
      display: none;
    }

    .dimensions {
      display: flex;
      margin: 10px 0px;
      align-items: center;
    }

    .dimensions input {
      width: 40px;
      height: 20px;
    }

    .preview {
      margin: auto;
      width: 98%;
      max-height: 600px;
      display: flex;
      align-items: center;
      max-width: 1200px;
      overflow: auto;
    }
