body {
  font-family: "Inter";
  color: white;
}
.container {
  padding: 100px;
  border-radius: 10px;
  background-color: #222;
  text-align: center;
  margin: 110px 50px 70px 50px;
}
input {
  text-align: center;
}
.resizer__file {
  border-radius: 6px;
  padding: 10px 20px;
  color: #fff;
  font-size: 1rem;
  background-color: #8a39e1;
}
#size {
  width: 70px;
  font-size: 20px;
}
::-webkit-file-upload-button {
  font-family: "Inter";
  background: #fff;
  color: #8a39e1;
  padding: 8px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  line-height: 1.5;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
}

#dwn-btn {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 30px;
  background-color: #f92f60;
  border: 2px solid #f92f60;
  color: white;
  border-radius: 6px;
  display: none;
  transition: all 0.3s ease;
}
#dwn-btn:hover {
  background: none;
  color: #f92f60;
}

.dimensions {
  margin: 30px auto 50px auto;
  text-align: center;
}

.dimensions input {
  font-weight: 700;
  color: #8a39e1;
  width: 40px;
  height: 20px;
}

.preview {
  margin: auto;
  width: 70%;
  max-height: 600px;
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 1200px;
  overflow: auto;
}
.light-mode {
  background-color: #f5f8ff;
  color: black;
}
.light-mode .container {
  background-color: #fff;
}
.light-mode #dwn-btn {
  color: #fff;
}

/* Responsivity */
@media (max-width: 790px) {
  .container {
    padding: 70px;
    margin: 110px 30px 70px 30px;
  }
  .resizer__file {
    padding: 10px 17px;
    font-size: 0.9rem;
  }
  #size {
    width: 45px;
    font-size: 17px;
  }
  #dwn-btn {
    margin-top: 30px;
    font-size: 0.9rem;
    padding: 17px 27px;
  }
  .preview {
    width: 100%;
    max-height: 600px;
    max-width: 1200px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 60px;
    margin: 110px 30px 70px 30px;
  }
  .resizer__file {
    padding: 8px 15px;
    font-size: 0.7rem;
  }
  #size {
    width: 40px;
    font-size: 15px;
  }
  #dwn-btn {
    margin-top: 30px;
    font-size: 0.7rem;
    padding: 15px 25px;
  }
  .preview {
    width: 100%;
    max-height: 600px;
    max-width: 1200px;
  }
}
@media (max-width: 420px) {
  .container {
    padding: 40px;
    margin: 110px 15px 70px 15px;
  }
  .resizer__file {
    padding: 6px 13px;
    font-size: 0.6rem;
  }
  #size {
    width: 40px;
    font-size: 13px;
  }
  #dwn-btn {
    margin-top: 30px;
    font-size: 0.7rem;
    padding: 15px 25px;
  }
  .preview {
    width: 100%;
    max-height: 400px;
    max-width: 1000px;
  }
}