* {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
=======
  box-sizing: border-box;
>>>>>>> ManojM
}

body {
  background: url(background.jpg);
  height: 700px;
  background-position: center;
  background-size: cover;
  background-attachment: initial;
<<<<<<< HEAD
  /* transition: initial; */
=======
  transition: initial;
  font-family: sans-serif;
>>>>>>> ManojM
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #020225a9;
  color: aliceblue;
  z-index: 5;
<<<<<<< HEAD
  padding: 3px;
}
#logo {
  font-size: 1.7rem;
  margin: 0.5rem;
}
.nav-links {
  transition: all 1s linear;
}
.nav-links ul {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
}
.nav-links li {
  list-style: none;
  padding: 0.5rem 0.8rem;

  margin: 2px 5px;
}
.nav-links a {
  color: aliceblue;
  text-decoration: none;
  padding: inherit;
}
li .active {
  color: yellow;
  background-color: #0d0d772f;
}
nav a:hover {
  background-color: #0d0d772f;
  color: yellow;
}
.toogle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toogle-btn .bar {
  height: 3px;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}
header {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 6.5rem;
  font-weight: 600;
  color: whitesmoke;
}

main h2 {
  font-size: 40px;
  color: black;
  padding: 50px;
  width: 75vw;
  margin: 50px auto;
  background-color: whitesmoke;
  text-align: center;
=======
  padding: 5px;
}
#logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.nav-links {
  transition: all 1s ease-in-out;
>>>>>>> ManojM
}
.nav-links ul {
  display: flex;
  font-size: 1.2rem;
}
.nav-links li {
  list-style: none;
  padding: 0.7rem 1rem;

<<<<<<< HEAD
main > .tools-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85vw;
  margin: 50px auto;
}

main .row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 2, 37);
  padding: 10px 20px;
  margin: 30px 0;
  border-radius: 5px;
  height: 15vh;
  width: 35vw;
  /* top: 550px; */
  /* position: relative; */
}
main .row a {
  color: whitesmoke;
  text-align: center;
  padding: 20px 30px;
  font-size: 30px;
  font-weight: 600;
  top: 50vh;
  transition: all 200ms ease-in-out;
}

main .row a:hover {
  color: yellow;
  font-size: 35px;
}

main button {
  padding: 10px;
  text-align: left;
  background-color: grey;
}

@media only screen and (max-width: 960px) {
  main h2 {
    padding-right: 0;
  }
  main .row {
    width: 100vw;
  }
}
@media screen and (max-width: 400px) {
  header h1 {
    font-size: 5rem;
    padding-left: 3rem;
  }
=======
  margin: 3px 5px;
  font-weight: 600;
  color: aliceblue;
}
.nav-links a {
  text-decoration: none;
}
li .active {
  color: yellow;
}
nav li:hover {
  color: yellow;
  background-color: #05055a54;
}
.toogle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toogle-btn .bar {
  height: 3px;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}

/* end of nav */
header {
  /* width: 100%; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5.5rem;
  font-weight: 650;
  position: absolute;
  top: 5rem;
  color: whitesmoke;
  margin-top: 150px;
  text-align: center;
}

main h2 {
  font-size: 40px;
  text-align: center;
  color: black;
  padding: 50px;
  margin: 50px;
  background-color: whitesmoke;
  border: 100px;
  top: 85vh;
  /* position: relative; */
}

main .row {
  float: left;
  background-color: rgb(2, 2, 37);
  text-align: center;
  padding: 10px 20px;
  margin: 50px;
  border-radius: 5px;
  height: 20vh;
  /* width: 70vh; */

  top: 550px;
  /* position: relative; */
}
main .row a {
  color: whitesmoke;
  text-align: center;
  padding: 20px 30px;
  font-size: 30px;
  font-weight: 600;
  top: 50vh;
}
main .row a:hover {
  color: yellow;
}
@media screen and (max-width: 400px) {
>>>>>>> ManojM
  .toogle-btn {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
  }
  nav li {
    text-align: center;
  }
  nav .display {
    display: flex;
  }
}
