* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #152a79;
  /* background: url(background.jpg); */
  /* background-color: #0d0d6a; */
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: initial;
  /* transition: initial; */
  font-family: "Bakbak One", sans-serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #020225a9;
  color: aliceblue;
  z-index: 5;
  padding: 3px;
}
#logo {
  font-size: 1.4rem;
  letter-spacing: 2px;
  margin: 0.5rem;
}
.nav-links {
  transition: all 1s linear;
}
.nav-links ul {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
}
.nav-links li {
  list-style: none;
  padding: 0.5rem 0.8rem;

  margin: 2px 5px;
}
.nav-links a {
  color: aliceblue;
  text-decoration: none;
  padding: inherit;
}
li .active {
  color: yellow;
  background-color: #0d0d772f;
}
nav a:hover {
  background-color: #0d0d772f;
  color: yellow;
}
.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-btn .bar {
  height: 3px;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}
header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header h1 {
  color: white;
  font-size: 6.5rem;
}

main button {
  border: none;
}

.main-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

main h2 {
  text-align: center;
  font-size: 4rem;
  color: white;
  padding: 2rem 7rem;
  box-shadow: 0 4px 20px 0 #020225a9, 0 0 0 0 #020225a9;
}

main > .tools-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85vw;
  margin: 50px auto;
}

main .row {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 #020225a9, 0 6px 20px 0 #020225a9;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
  height: 15vh;
  width: 35vw;
  /* top: 550px; */
  /* position: relative; */
}
main .row a {
  font-family: "Bakbak One", sans-serif;
  text-decoration: none;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 600;
  top: 50vh;
  transition: all 200ms ease-in-out;
}

main .row a:hover {
  font-size: 40px;
}

.logo {
  width: 15%;
}

main button {
  padding: 10px;
  text-align: left;
  background-color: transparent;
}

.row:hover {
  cursor: pointer;
}

.tools-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-img {
  width: 20%;
}

@media only screen and (max-width: 960px) {
  main .row {
    width: 100vw;
  }
}
@media screen and (max-width: 426px) {
  header h1 {
    font-size: 2rem;

  }
  .toggle-btn {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    width: 100%;
    flex-direction: column;
  }
  nav li {
    text-align: center;
  }
  nav .display {
    display: flex;
  }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .heading {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1105px) {
  .heading {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 435px) {
  main .row a {
    font-size: 1.1rem;
  }

  main h2 {
    font-size: 2rem;
  }
}
