#container{
    width: 50%;
    margin: auto;
    margin-top: 200px;
    color: white;
    background-color: rgba(173, 216, 230, 0.5);
    padding: 50px;
}

h2{
    text-align: center;
}

ul{
    list-style: none;
}

li{
    padding: 10px;
}

input[type=text], input[type=password], button, select, #file-list {
	flex-grow: 1;
	font-size: 12pt;
	padding: 4px;
	border: solid 1px #a7a7a7;
	border-radius: 2.5px;
	box-shadow: 1px 1px 1px #d8d8d8;
	color: #444444;
    text-decoration: none;
}


.form-label {
	min-width: 240px;
	margin-top: 10px;
	margin-right: 8px;
}