#t2p{
  margin: 2px auto;
  box-sizing: border-box;
  width: 48%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(173, 216, 230, 0.5);
  font-weight: 600;
  text-align: center;
  overflow: hidden;
}
#space{
  width: 100%;
  height: 200px;
}
#txtarea{
  outline: none;
  width: 84%;
  max-width: 700px;
  margin: 20px 0px;
  height: 150px;
  padding: 12px;
  font-size: 18px;
}
#convert{
    border-radius: 18px;
    margin: 5px 35px;
    padding: 8px;
    font-size: 1.2em;
    background-color: #28a745;
    border: 2px solid #1f8036;
    transition: all 0.2s;
    cursor: pointer;
}
#convert:hover{
    box-shadow: 0 0.7em 0.5em -0.4em #042e0d;
    transform: scale(0.95);
    background-color: #1f8036;
}
#reset{
    border-radius: 18px;
    padding: 8px;
    margin: 5px 35px;
    font-size: 1.2em;
    background-color: #dc3545;
    border: 2px solid #af1222;
    transition: all 0.2s;
    cursor: pointer;
}
#reset:hover{
    box-shadow: 0 0.7em 0.5em -0.4em #47050c;
    transform: scale(0.95);
    background-color:#af1222;
}