#w2p{
    text-align: center;
    width: 70%;
    position: absolute;
    left: 50%;
    margin: 350px auto;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 120px 36px;
    background-color: #222;
    font-weight: 600;
    align-items: center;
}
img {
    width: 90%;
}
#addfile{
    padding-bottom: 28px;
    display: none;
}
#addfilelab{
    margin-bottom: 28px;
}
.dwpdf{
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 1.2em;
    background-color: #8A39E1;
    transition: all 0.2s;
    color: #fff;
    box-shadow: none;
    border: none;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.dwpdf_hover{
    cursor: pointer;
    padding: 20px 25px;
    font-size: 1.3em;
    background-color: #fff;
    color: #8A39E1;
}
.custom-file-upload {
    border: 2px solid #8A39E1;
    border-radius: 10px;
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    cursor: pointer;
}
.reset{
    margin-left: 10%;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1em;
    background-color: #FF1700;
    color: #541212;
    border: none;
    opacity: 0.5;
    transition: all 0.3s ease;
}
.reset_hover {
  cursor: pointer;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}