body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  font-family: "Inter";
}

#space{
  width: 100%;
  height: 24vh;
  min-height: 75px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 500px;
  border-radius: 10px;
  padding: 48px 36px;
  color: #8A39E1;
  background-color: #222;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 100px;
}


.inp-container{
  cursor: pointer;
  text-align: center;
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  border: 1px dashed rgb(195, 193, 193);
  margin: auto;
  border-width: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
}
.inp-container:hover{
  height: 16rem;
  width: 16rem;
}
.drop{
  font-size: 1rem;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.5s ease;
}
#custom-file{
  font-size: 1rem;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
.img-icon{
  padding: 10px;
  transition: all 0.5s ease;
}
.inp-container:hover .drop, .inp-container:hover  #custom-file {
  font-size: 1.2rem ;
}
.inp-container:hover .img-icon{
  padding-bottom: 20px;
}
#upload-file{
  opacity: 0;
  display: block;
  height: 12rem;
  width: 12rem;
  position: absolute;
  cursor: pointer;
}

#pdf-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.create-pdf{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.file-item{
  padding: 0 1rem;
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #8A39E1;
  color: white;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: all 0.5s ease;
}
.file-item:hover {
 background-color: #fff;
  color: #8A39E1;
  padding: 0.3rem 1.3rem;
}

.modify button{
  padding: 0.5rem;
  border-radius: 50%;
}

#img{
  position: relative;
  max-width: 7rem;
  max-height: 9rem;
  background: black;
  overflow: hidden;
  box-sizing: border-box;
  border: 0.1rem solid rgb(223, 222, 222);
}

.file-item button{
  margin: 0.5rem 0.5rem;
  background: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
  opacity: 0;
  padding: 0.3rem 0.5rem;
  color: #8A39E1;
  transition: all 0.5s ease;
}
.file-item button:hover{
  background: #8A39E1;
  color: #fff;
}
.file-item:hover button{
  opacity: 1;
}

.delete{
  pointer-events: none;
}

#img-name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 7rem;
  text-align: center;
  margin: 1rem auto;
}

.add-more-file{
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inp-cont{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  text-align: center;
  border: 1px dashed rgb(195, 193, 193);
  border-width: 0.15rem;
  width: 9rem;
  height: 9rem;
  margin: auto;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}
.inp-cont:hover{
  width: 11rem;
  height: 11rem;
  font-size: 1.4rem;
}

#inp{
  opacity: 0;
  display: block;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

#convertBtn{
  display: none;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 10px;
  padding: 20px 25px;
  font-size: 1.2em;
  background-color: #8A39E1;
  color: white;
  cursor: pointer;
  font-size: large;
  transition: all 0.3s ease;
}

#convertBtn:hover{  
  padding: 25px 30px;
  color: #8A39E1;
  background-color: white;
}


@media(max-width:500px){
  .inp-container{
    width: 6rem;
    height: 6rem;
    font-size: 8px;
  }
  #upload-file{
    height: 6rem;
    width: 6rem;
  }
  #img{
    max-width: 6rem;
    max-height: 8rem;
  }
  .inp-cont,#inp{
    height: 7rem;
    width: 7rem;
  }
}